.idea/
.classpath
.project
.settings
.DS_Store
.sts4-cache
**/.DS_Store

target
**/target/
test-output
**/test-output/**

**/allure-report/**/*
/allure-report
/allure-results
**/allure-results
/.allure
/**/.allure

selenium_standalone_binaries/**
selenium_standalone_zips/**
/selenium_standalone_binaries/**
/selenium_standalone_zips/**

core-frmk/config/*
core-frmk/app/